@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-size: 16px;
  transition: all ;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-symbols-outlined {
  display: none;
  font-size: 1.4rem;
  color: #02464b;
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined:hover {
  color: #04a2ae;
  transition: 1s ease-in-out;

}

.navbar {
  display: flex;
  width: 100%;
  padding: 12px 20px;
  position: fixed;
  justify-content: space-between;
  background: transparent;
  box-shadow: 2px 2px 2px rgb(131, 244, 252);
  
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-link {
  font-weight: 400;
  margin-left: 2rem;
}

.nav-link a{
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #02464b;
}

.nav-link a:hover {
  color: #04a2ae;
  transition: 1s ease-in-out;
}

@media screen and (max-width:768px) {
  .material-symbols-outlined {
    display: block;
    

  }
  .nav-header {
    padding: 12px 20px;
    border-bottom: 1px solid rgb(131, 244, 252);
    margin: 0;
    
  }

  .navbar{
    display: block;
    padding: 0;

  }

  .nav-links { 
    display: none;
  }

  .nav-link  {
    display: block;
    padding: 12px 20px;
    margin: 0;
    
  }

  .nav-link a {
    display: block;
  }

  .show-links {
    display: block;
    height: 192px;
  }
  
}
