@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-size: 16px;
  transition: all ;
}

body {
  font-family: "Poppins", sans-serif;
  background:#f1f3f4 ;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-symbols-outline {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
  display: none;
  font-size: 1.4rem;
  color: #02464b;
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined:hover {
  color: #02464b;
  color: #04a2ae;
  transition: 1s ease-in-out;

}

.navbar {
  display: flex;
  width: 100%;
  padding: 12px 20px;
  position: fixed;
  justify-content: space-between;
  background: white;
  box-shadow: 1px 1px 1px rgb(131, 244, 252);
  z-index: 1;
  
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-link {
  font-weight: 400;
  margin-left: 2rem;
}

.nav-link a{
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #02464b;
}

.nav-link a:hover {
  color: #04a2ae;
  transition: 1s ease-in-out;
}
/*Hero Sectiom*/

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 48px);
}

.hero-animation {
  top:48px;
  width: 45rem;
  height: auto;
  background: transparent;
}

.right-content {
  text-align: center;
  padding: 40px;
  margin-right: 20px;
}

.right-content h4 {
  font-size: 30px;
  color: #02464b;
}

.right-content h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: #04a2ae;

}

.right-content p {
  font-size: 35px;
  text-transform: uppercase;
  color: #02464b;
}



@media screen and (max-width:768px) {
  .material-symbols-outlined {
    display: block;
    

  }
  .nav-header {
    padding: 12px 20px;
    border-bottom: 1px solid rgb(131, 244, 252);
    margin: 0;
    
  }

  .navbar{
    display: block;
    padding: 0;

  }

  .nav-links { 
    display: none;
  }

  .nav-link  {
    display: block;
    padding: 12px 20px;
    margin: 0;
    
  }

  .nav-link a {
    display: block;
  }

  .nav-link a:hover {
    padding-left: 8px;
  }


  .show-links {
    display: block;
    height: 192px;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 49px);
  }
  
  .hero-animation {
    width: 40rem;
    height: auto;
    background: transparent;
  }

  .left-content {
    margin: 85px  auto 0 auto;
  }
  
  .right-content {
    text-align: center;
    padding: 0;
    margin-bottom:95px;
    

  }
  
  .right-content h4 {
    padding: 0;
    font-size: 20px;
    color: #02464b;
  }
  
  .right-content h1 {
    font-size: 30px;
    padding: 0;
    text-transform: uppercase;
    color: #04a2ae;
  
  }
  
  .right-content p {
    padding: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #02464b;
  }
  
}
/*****************************************************/
@media screen and (max-width:1377px) {

  .hero-animation {
    top:48px;
    width: 100%;
    height: auto;
    background: transparent;
  }
  .right-content {
    padding: 20px;
    margin-right: 20px;
    width: 40rem;
    height: auto;
  }
  
}

@media screen and (max-width:1264px) {

  .hero-animation {
    top:48px;
    width: 100%;
    height: auto;
    background: transparent;
  }
  .right-content {
    padding: 20px;
    margin-right: 20px;
    width: 40rem;
    height: auto;
  }
}
